.ganttTable {
  display: table;
  border-bottom: #687a96 1px solid;
  border-top: #687a96 1px solid;
  border-left: #687a96 1px solid;
  background-color: #3F4A5A;
  color: white;
}
body{
  background-color: #283045;
  color: #F7F7F7;
  
}

.ganttTable_Header {
  display: table-row;
  list-style: none;
}

.ganttTable_HeaderSeparator {
  border-right: 1px solid rgb(196, 196, 196);
  opacity: 1;
  margin-left: -2px;
}

.ganttTable_HeaderItem {
  display: table-cell;
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
