.taskListWrapper {
  display: table;
  border-bottom: #687a96 1px solid;
  border-left: #687a96 1px solid;
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListTableRow:nth-of-type(even) {
  background-color:  #4E5767;
}

.taskListTableRow:nth-of-type(odd) {
  background-color: #394552;
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  margin-top:calc(7px - 0.3rem);
  color: #0AB89B;
  font-size: 0.6rem;
  user-select: none;
  cursor: pointer;
  width:12px;
}

.taskListLine {
  height:14px;
  border:1.3px solid #0AB89B;
  width:0px;
  margin-right:2px
}

.taskListEmptyExpander {
  min-width:12px;
  max-width:12px;
  margin-top:4px;
  user-select: none;
}
