.taskListWrapper {
  display: table;
  border-bottom: #687a96 1px solid;
  border-left: #687a96 1px solid;
}

.taskListTableRow {
  display: table-row;
  text-overflow: ellipsis;
}

.taskListTableRow:nth-of-type(even) {
  background-color:  #4E5767;
}

.taskListTableRow:nth-of-type(odd) {
  background-color: #394552;
}

.taskListCell {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}
.taskListNameWrapper {
  display: flex;
}

.taskListExpander {
  margin-top:4px;
  color: #0AB89B;
  font-size: 0.6rem;
  padding: 0.15rem 0.2rem 0rem 0.2rem;
  user-select: none;
  cursor: pointer;
  width:9.5px
}

.taskListLine {
  color: #0AB89B;
  margin-top: -8px;
  font-size: 28px;
}

.taskListEmptyExpander {
  margin-top:4px;
  font-size: 0.6rem;
  padding-left: 1rem;
  user-select: none;
}
