.calendarBottomText {
  text-anchor: middle;
  fill: #f7f7f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #687a96;
}

.calendarTopText {
  text-anchor: middle;
  fill: #f7f7f7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #3F4A5A;
  stroke: #687a96;
  stroke-width: 1.4;
  overflow:visible;
}

.calendarCustom{
  overflow:visible;
}
