.calendarBottomText {
  text-anchor: middle;
  fill: #6d6d6d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.firstCalendarBottomText {
  text-anchor: middle;
  fill: #6d6d6d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #f6f6f6;
  display: none;
}

.calendarTopText {
  text-anchor: middle;
  fill: #6d6d6d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #fafafa;
  stroke: #BABFC8;
  stroke-width: 1.4;
  overflow:visible;
}

.calendarCustom{
  overflow:visible;
}
